<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ajout" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Note" tabIcon="copy"></ion-tab>
</ion-tabs>
