<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <!--<ion-col col-8 class="title-note"> Titre </ion-col>-->
            <!--<ion-col col-4 class="title-note align-right"> Date </ion-col>-->
        </ion-row>
    </ion-grid>
    <ion-grid >
        <ion-row *ngFor="let li of data; let i = index;">
            <ion-card *ngIf="li.date==dateJour" class="card" style="width: 100%;" icon-start="alarm">
                <div class="card-body">
                    <ion-card-header>
                        <ion-col col-8 class="title-card">
                            <a (click)="alarmSwitch()"><ion-icon name="alarm" class="icone-alarm"></ion-icon></a>
                            {{li.title}}
                        </ion-col>
                    </ion-card-header>
                    <ion-card-content>{{li.description}}</ion-card-content>
                    <div class="date">
                        <ion-col col-4>{{li.date}}</ion-col>
                    </div>
                </div>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>
