<!-- Generated template for the MyformComponent component -->
<ion-list>
    <form (ngSubmit)="save()">
        <ion-item>
            <ion-label>Titre</ion-label>
            <br/>
            <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Detail</ion-label>
            <br>
            <ion-input [(ngModel)]="todo.description" name="description"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <br>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="todo.date" name="date"></ion-datetime>
        </ion-item>
        <br/>
        <button ion-button type="submit" class="submit-btn" *ngIf="displayValider==true">Ajouter</button>
    </form>
    <button ion-button (click)="onEditClick()" class="submit-btn" *ngIf="displayValider==false">Editer</button>
</ion-list>
