<!--
  Generated template for the NotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>note</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid *ngIf="displayForm==false">
        <ion-row>
            <ion-col col-8 class="title-note"> Titre </ion-col>
            <ion-col col-4 class="title-note align-right"> Date </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="displayForm==false">
        <ion-row *ngFor="let li of data; let i = index;" (click)="detail(i,li)">
            <ion-col col-8>{{li.title}}</ion-col>
            <ion-col col-4 class=" align-right">{{li.date}}</ion-col>
        </ion-row>
    </ion-grid>
    <myform *ngIf="displayForm==true" [letitre]="title" [madescription]="description" [monid]="id" [madate]="date"></myform>
</ion-content>