<!--
  Generated template for the AjoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ajout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block *ngIf="displayForm==false" (click)="openMenu()">
    Ajouter un rappel
  </button>
  <myform *ngIf="displayForm==true"></myform>
</ion-content>
